@model IEnumerable<CrudOperation.Models.Product>

<h2>Product List</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
